[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.216"
ask-sdk-core = "==1.11.0"
mariadb = ""
pymysql = "*"
awsiotsdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
